@import "_variables";
@import "_extends";
@import "_mixins";
@import "reset";

body{
    background-color: $main_color;
    width: 100vw;
    height: 100vh;
    
    header{
        background-color: $main_color;
        position: fixed;
        width: 100%;
        top: 0px;
        z-index:100;

        display: grid;
        @include responsive("pc"){
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 10vh;
        }
        @include responsive("tablet"){
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 10vh;
        }
        @include responsive("phone"){
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 10vh;
        }
        

        .left_menu{
            padding-left: 1rem;
            padding-right: 1rem;
            @extend %set_header_font;

            display: grid;
            @include responsive("phone"){
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                .menu{
                    display: none;
                }
            }
            @include responsive("tablet"){
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                .menu{
                    display: none;
                }
            }
            @include responsive("pc"){
                grid-template-columns: 1fr 3fr 1fr;
                grid-template-rows: 1fr;
                .menu{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    color: $text_color2;
                }
            }
            
            @include responsive("pc"){
                &:hover{
                    background-color: $hover_color;
                    cursor: pointer;
                    transition: background-color 0.3s linear;
                    .menu{
                        color: $main_color;
                    }
                }
            }

            .logo{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                color: $text_color1;
            }
        }
        .right_menu{
            padding-left: 1rem;
            padding-right: 1rem;
            @extend %set_header_font;
            align-items: center;

            display: grid;
            @include responsive("phone"){
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
            }
            @include responsive("tablet"){
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
            }
            @include responsive("pc"){
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
            }
            @include responsive("pc"){
                &:hover{
                    background-color: $hover_color;
                    cursor: pointer;
                    transition: background-color 0.3s linear;
                }
            }
            .works{
                @include responsive("phone"){
                    display: none;
                }
                @include responsive("tablet"){
                    display: none;
                }
                @include responsive("pc"){
                    justify-self: center;
                }
            }
            .all{
                @include responsive("pc"){
                    justify-self: center;
                }
            }

            .language{
                font-size: $main_font_size;
                align-self: flex-end;
                justify-self: flex-end;
            }
        }
    }

    main{
        padding-top: 10vh;
        display: grid;
        width: 100%;
        @include responsive("phone"){
            grid-template-columns: 1fr;
            grid-template-rows: repeat(auto, 30%);
        }
        @include responsive("tablet"){
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(auto, 30%);
        }
        @include responsive("pc"){
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(auto, 30%);
        }
        .artwork{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-bottom: 0.5rem;
            &:hover{
                cursor: pointer;
            }

            .artwork_img{
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .artwork_title{
                justify-self: center;
                padding-left: 0.8rem;
                @include responsive("phone"){
                    font-size: 2.4rem;
                }
                @include responsive("tablet"){
                    font-size: 1.6rem;
                }
                @include responsive("pc"){
                    font-size: 0.8rem;
                }
                font-weight: bold;
            }
        }
    }
}