@import "_variables";
@import "_extends";
@import "_mixins";

body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    gap: 1px;
    background-color: $sub_color;
    color: $sub_color;
    font-weight: $title_font_weight;
    font-size: $title_font_size;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100vw;
    height: 100vh;

    & > section{
        padding: 0 0 0 0;
    }
    a{
        @extend %a_style_none;
    }
    section div{
        background-color: $main_color;
        &:not(.commercial) {
            @extend %hover_effect;
        }
    }

    .left{
        gap: 1px;
        display: grid;
        height: 100%;
        grid-template-rows: 1fr 5fr 1fr;
        grid-template-columns: 1fr;

        .logo{
            display: grid;
            place-items: center;
        }
        .content_list{
            gap: 1px;
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: nowrap;
            .content_item{
                
                display: grid;
                place-items: center;
                height: 20%;
            }
        }
        .prev{
            display: grid;
            place-items: center;
        }
    }

    .middle{
        gap: 1px;
        display: grid;
        grid-template-rows: 1fr 5fr 1fr;
        grid-template-columns: 1fr;
        
        .title{
            display: grid;
            place-items: center;
        }
        .image{
            display: grid;
            grid-template-columns: 1fr 1fr;
            place-items: stretch;
            img{
                width: 100%;
            }
        }
        .commercial{
            display: flex;
            place-items: center;
            overflow: hidden;
            p{
                white-space: nowrap;
                animation-name: commercial;
                animation-duration: 15s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                @keyframes commercial {
                    from{
                        transform: translateX(100%)
                    }
                    to{
                        transform: translateX(-100%);
                    }
                }
            }
        }
    }

    .right{
        gap: 1px;
        display: grid;
        height: 100%;
        grid-template-rows: 1fr 5fr 1fr;
        grid-template-columns: 1fr;
        .menu{
            display: grid;
            place-items: center;
        }
        .content_list{
            gap: 1px;
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: nowrap;
            .content_item{
                display: grid;
                place-items: center;
                height: 20%;
            }
        }
        .next{
            display: grid;
            place-items: center;
        }
    }

}