body header .left_menu, body header .right_menu {
  font-size: 2rem;
  font-weight: 600;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

body header {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 900px) {
  body header {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 10vh;
        grid-template-rows: 10vh;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  body header {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 10vh;
        grid-template-rows: 10vh;
  }
}

@media screen and (min-width: 0px) and (max-width: 599px) and (orientation: portrait) {
  body header {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 10vh;
        grid-template-rows: 10vh;
  }
}

body header .left_menu {
  padding-left: 1rem;
  padding-right: 1rem;
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 0px) and (max-width: 599px) and (orientation: portrait) {
  body header .left_menu {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  body header .left_menu .menu {
    display: none;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  body header .left_menu {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  body header .left_menu .menu {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  body header .left_menu {
    -ms-grid-columns: 1fr 3fr 1fr;
        grid-template-columns: 1fr 3fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  body header .left_menu .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #D9DADB;
  }
}

@media screen and (min-width: 900px) {
  body header .left_menu:hover {
    background-color: #E0E1E2;
    cursor: pointer;
    -webkit-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
  }
  body header .left_menu:hover .menu {
    color: white;
  }
}

body header .left_menu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

body header .right_menu {
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 0px) and (max-width: 599px) and (orientation: portrait) {
  body header .right_menu {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  body header .right_menu {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

@media screen and (min-width: 900px) {
  body header .right_menu {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

@media screen and (min-width: 900px) {
  body header .right_menu:hover {
    background-color: #E0E1E2;
    cursor: pointer;
    -webkit-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
  }
}

@media screen and (min-width: 0px) and (max-width: 599px) and (orientation: portrait) {
  body header .right_menu .works {
    display: none;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  body header .right_menu .works {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  body header .right_menu .works {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (min-width: 900px) {
  body header .right_menu .all {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

body header .right_menu .language {
  font-size: 1rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
}

body main {
  padding-top: 10vh;
  display: -ms-grid;
  display: grid;
  width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 599px) and (orientation: portrait) {
  body main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (30%)[auto];
        grid-template-rows: repeat(auto, 30%);
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  body main {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (30%)[auto];
        grid-template-rows: repeat(auto, 30%);
  }
}

@media screen and (min-width: 900px) {
  body main {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: (30%)[auto];
        grid-template-rows: repeat(auto, 30%);
  }
}

body main .artwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-bottom: 0.5rem;
}

body main .artwork:hover {
  cursor: pointer;
}

body main .artwork .artwork_img img {
  width: 100%;
  height: 100%;
}

body main .artwork .artwork_title {
  -ms-grid-column-align: center;
      justify-self: center;
  padding-left: 0.8rem;
  font-weight: bold;
}

@media screen and (min-width: 0px) and (max-width: 599px) and (orientation: portrait) {
  body main .artwork .artwork_title {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  body main .artwork .artwork_title {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 900px) {
  body main .artwork .artwork_title {
    font-size: 0.8rem;
  }
}
