body section div {
  border-right: 1px solid #af7832;
  border-bottom: 1px solid #af7832;
}

body section div:hover {
  background-color: #af7832;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  cursor: pointer;
}

body section div:hover > a {
  color: #FFFFFF;
}

body a {
  color: #af7832;
  text-decoration: none;
}

body {
  background-color: #FFFFFF;
  color: #af7832;
  font-weight: 500;
  font-size: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  width: 100vw;
  height: 100vh;
}

body .left {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-rows: 1fr 5fr 1fr;
      grid-template-rows: 1fr 5fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

body .left .logo {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body .left .content_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body .left .content_list .content_item {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 20%;
}

body .left .prev {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body .middle {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-rows: 1fr 5fr 1fr;
      grid-template-rows: 1fr 5fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .middle .title {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body .middle .image img {
  width: 100%;
  height: 100%;
}

body .middle .commercial {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body .right {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-rows: 1fr 5fr 1fr;
      grid-template-rows: 1fr 5fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

body .right .menu {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body .right .content_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body .right .content_list .content_item {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 20%;
}

body .right .next {
  display: -ms-grid;
  display: grid;
  place-items: center;
}
