body section div:hover:not(.commercial) {
  background-color: #af7832;
  -webkit-transition: color 0.3s linear, background-color 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear;
  cursor: pointer;
}

body section div:hover:not(.commercial) > a {
  color: #FFFFFF;
}

body a {
  color: #af7832;
  text-decoration: none;
}

body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  gap: 1px;
  background-color: #af7832;
  color: #af7832;
  font-weight: 500;
  font-size: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  width: 100vw;
  height: 100vh;
}

body > section {
  padding: 0 0 0 0;
}

body section div {
  background-color: #FFFFFF;
}

body .left {
  gap: 1px;
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-rows: 1fr 5fr 1fr;
      grid-template-rows: 1fr 5fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

body .left .logo {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body .left .content_list {
  gap: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body .left .content_list .content_item {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 20%;
}

body .left .prev {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body .middle {
  gap: 1px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 5fr 1fr;
      grid-template-rows: 1fr 5fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

body .middle .title {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body .middle .image {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  place-items: stretch;
}

body .middle .image img {
  width: 100%;
}

body .middle .commercial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  overflow: hidden;
}

body .middle .commercial p {
  white-space: nowrap;
  -webkit-animation-name: commercial;
          animation-name: commercial;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes commercial {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes commercial {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

body .right {
  gap: 1px;
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-rows: 1fr 5fr 1fr;
      grid-template-rows: 1fr 5fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

body .right .menu {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body .right .content_list {
  gap: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body .right .content_list .content_item {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 20%;
}

body .right .next {
  display: -ms-grid;
  display: grid;
  place-items: center;
}
